* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    color: #fff
}

.column-layout {
    display: flex;
    min-height: 1000px;
}

nav#main-nav {
    top: 0;
    position: sticky;
    background-color: #222;
    display: flex;
    align-items: center;
    border-bottom: 3px solid black;
    height: 50px;
    padding: 0 15px;
    gap: 10px
}

header {
    height:250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-bottom: 3px solid black;
}

aside {
    flex: 1;
    background-color: #444;
    border-right: 3px solid black;
    padding: 15px;
}

article {
    flex: 3;
    background-color:  #666;
    padding: 15px;
}

footer {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
    height: 50px;
}

@media screen and (max-width: 800px){
    aside {
        flex: 0;
        width: 0;
        padding: 0;
        border: 0;
    }
}