html,
body,
.column-layout,
article {
  width: 100%;
}

form {
  border: solid #666 0.2rem;
  padding: 2rem;
  background-color: #ddd;
  color: #000;
  width: min-content;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 3px 3px 3px #000;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

form h3 {
  font-size: 1.5rem;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

form .input-group {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 0.375rem 0.75rem;
}

input[type="text"],
input[type="url"] {
  width: 60ch;
}

input[type="number"] {
  width: 15ch;
}

textarea {
  resize: none;
  overflow: visible;
  height: fit-content;
  font-size: 1rem;
}

textarea::before {
  content: "-";
}

.table-wrapper {
  overflow-x: scroll;
}

table {
  width: 100%;
  font-size: 15px;
  font-size: clamp(0.8rem, 12%, 14px);
}

tr,
td {
  max-height: 75px;
}

table,
th,
td {
  border: 1px solid #fff;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

td {
  word-wrap: break-word;
}

.tablecell-img {
  width: 75px;
}

.tablecell-img img {
  width: 100%;
}

th .admin-table-head-content {
  display: flex;
}

th .admin-table-head-content .admin-table-head-title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.songs-wrapper {
  overflow-y: scroll;
  height: 100px;
}

.sorting-button-group {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 855px) {
  article {
    width: 100%;
    padding: 5px;
  }

  form {
    width: 100%;
  }

  input[type="text"],
  input[type="url"] {
    width: 100%;
  }
}
