body.overlayed {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000077;
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay.showed {
  display: flex;
}

.modalbox {
  position: relative;
  top: 25px;
  background-color: #ccc;
  max-width: 1000px;
  height: 800px;
  width: 100%;
  box-shadow: 3px 3px 3px #000;
  display: flex;
  flex-direction: column;
  color: #000;
  overflow: auto;

}

.modalbox-header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #222;
}

.modalbox-header h3 {
  color: #fff;
  padding: 25px 0;
  text-align: center;
  font-size: 2rem;
  flex: 1;
}

.modalbox button {
  cursor: pointer;
}

.modalbox-header button {
  margin: 20px;
  height: 30px;
  width: 30px;
  color: transparent;
  cursor: pointer;
}

.modalbox button::before {
  content: "\2715";
  color: black;
  font-weight: bold;
}

.modalbox-body {
  display: flex;
  flex: 1
}

.modalbox-image-contrainer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex: 1;
  padding-top: 50px;
}

.modalbox-image-contrainer img {
  box-shadow: 3px 3px 3px #000;
  height: 400px;
}

.modalbox-album-content {
  flex: 1;
  padding: 15px;
}

.modalbox-album-content table,
.modalbox-album-content td,
.modalbox-album-content th {
  border: 1px solid black;
  border-collapse: collapse;
}

.modalbox-album-content td,
.modalbox-album-content th {
  padding: 10px 10px;
}

.modalbox-album-content h4 {
  font-size: 1.5rem;
  padding: 15px 0;
}

.modalbox-album-content ol {
  margin-left: 25px
}

.modalbox-album-content ol li {
  padding: 4px 0;
}

.modalbox-footer {
  background-color: #999;
  height: 85px;
  display: flex;
  align-items: center;
  padding: 25px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px black;
  gap: 15px;
}

.card-header {
  padding: 0 10px;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  inline-size: 25ch;
  overflow-wrap: break-word;
  hyphens: manual;
  text-align: center;
}

.card-header::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: black;
  box-shadow: 0px 1px 1px black;
}

.card img {
  box-shadow: 0 0 5px #000;
}

.card table {
  border-spacing: 15px 5px;
  flex: 1;
}

.card table th,
.card table td {
  width: 50%;
}

.card table th {
  text-align: right;
}

.card table button {
  width: 100%;
  cursor: pointer;
}

.card-footer {
  background-color: #222;
  padding: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 20px;
}

.card-footer .price {
  flex: 1;
}

.card-footer .cart {
  display: flex;
  gap: 5px;
  align-items: center;
}

.card-footer .cart label {
  font-size: 20px;
}

.card-footer .cart input {
  font-size: 15px;
}

.card-footer .cart input[type="number"] {
  width: 8ch;
  padding: 5px;
}

.card-footer .cart input[type="submit"] {
  width: 100%;
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .modalbox-body {
    flex-direction: column;
  }

  .modalbox-album-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

}
